html {
  font-family: "Times New Roman", Times, serif;
}

body {
  max-width: 100%;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-links1 {
  display: flex;
  /* align-items: center; */
}

.nav-links1 p:first-of-type + p {
  color: rgba(0, 0, 0, 0.664);
  font-size: large;
}

.nav-links2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  list-style: none;
  grid-gap: 10px;
  padding: 0;
}

.menu a {
  color: #6b6b6b;
  text-decoration: none;
  padding: 10px;
}

.li-au {
  font-weight: 800;
  color: black;
}

[aria-controls="menu-list"] {
  display: none;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

.m-logo {
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: xx-large;
  margin: 0px 10px;
}

.a-u {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.815);
  margin: 40px;
}

.a-u p:first-of-type {
  font-size: xxx-large;
  font-weight: 10;
  margin: 0;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin: 0;
  padding: 0;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 60px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.container-3 span {
  display: flex;
  justify-content: center;
}

.cta {
  color: #747474;
  padding: 20px;
}

.cta2 p {
  color: #747474;
  margin: 0px;
}

.icon-links,
.icon-links a {
  text-decoration: none;
  color: rgba(119, 119, 119, 0.541);
  margin-top: 20px;
}

.card-img img,
.card-img2 img {
  width: 100%;
  margin-bottom: 10px;
}

.scroll button {
  color: #777;
  font-size: xx-large;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.o-t {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: #777;
  margin: 30px;
}

.o-t p:first-of-type {
  font-size: xx-large;
  font-weight: 100;
  font-variant: small-caps;
  margin: 0;
}

footer {
  margin: 35px;
  display: flex;
  flex-direction: column;
}
.footer {
  text-align: center;
  background-color: #282828;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "box4 box4 box4"
    "box1 box2 box3"
    "box5 box5 box5";
}
.footer th {
  padding: 20px;
  color: white;
}

.footer p {
  margin: 0;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  display: flex;
  justify-content: center;
  grid-area: box4;
  color: #6b6b6b;
  padding: 30px;
}

.box5 {
  border-top: 2px solid #777;
}
.box5,
.box5 p {
  margin: 20px;
  grid-area: box5;
  width: 200px;
  align-items: center;
  font-size: smaller;
  text-align: center;
}

.box4 a {
  color: inherit;
  text-decoration: none;
}

.fa-brands {
  padding-right: 5px;
}

.box1,
.box2,
.box3,
.box5 {
  display: flex;
  flex-direction: column;
  color: #777;
  padding: 0;
  margin: 0;
  width: 100%;
}

footer table {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
  }
  .nav-links1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container,
  .container-2,
  .container-3 {
    grid-template-columns: auto;
    grid-template-rows: auto;
    max-width: 400px;
    padding: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .box4 {
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    align-items: center;
  }

  .box4 a {
    text-align: left;
    margin: 10px;
  }

  .menu {
    order: -1;
    perspective: 800px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  .container-3 .scroll {
    display: none;
  }

  [aria-controls="menu-list"] {
    display: block;
    /* margin-bottom: 10px; */
    /* float: right; */
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }
  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }
}
